@model CapaWEB.ViewModels.CiudadViewModel
@{
    ViewBag.Title = "Ciudad";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.idpais)
    @Html.HiddenFor(model => model.idDepartamento)

    <label class="MensajeError">@Html.ValidationSummary(true)</label>

    <section id="formulario">
        <label style="align-items; margin: auto 350px;" class="titulo">Eliminar Ciudad</label>
        <div style="margin-right:35px">
            <div>
                @Html.LabelFor(model => model.nombreDepartamento, new { @class = "label" })
            </div>
            <div>
                @Html.TextBoxFor(model => model.nombreDepartamento, new { @class = "cuadrotexto", @readonly = true })
            </div>
            <div class="MensajeError">
                @Html.ValidationMessageFor(model => model.nombreDepartamento, null, new { @class = "control-label", @size = "80" })
            </div>
        </div>
        <table>
            <tr></tr>
            <tr>
                <td>
                    <div style="margin-right:35px">
                        <div>
                            @Html.LabelFor(model => model.idCiudad, new { @class = "label" })
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.idCiudad, new { @class = "cuadrotexto", @readonly = true })
                        </div>
                        <div class="MensajeError">
                            @Html.ValidationMessageFor(model => model.idCiudad, null, new { @class = "control-label", @size = "80" })
                        </div>
                    </div>
                </td>
                <td>
                    <div style="margin-right:35px">
                        <div>
                            @Html.LabelFor(model => model.nombre, new { @class = "label" })
                        </div>
                        <div>
                            @Html.TextBoxFor(model => model.nombre, new { @class = "cuadrotexto", @readonly = true })
                        </div>
                        <div class="MensajeError">
                            @Html.ValidationMessageFor(model => model.nombre, null, new { @class = "control-label", @size = "80" })
                        </div>
                    </div>
                </td>

            </tr>

        </table>
    </section>
    <br />

    <button class="btn btn-primary" name="consulta" value="Regresar" type="submit">Regresar</button>
    <button class="btn btn-primary" name="consulta" value="Eliminar" type="submit">Eliminar</button>

    <br />
    <br />
    <br />

}
